---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import Card from "../components/Card.astro";
import Card2 from "../components/Card2.astro";
import Card3 from "../components/Card3.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
import hero from "/hero2.webm";
import Hawaii from "../assets/images/hawaii.jpg";
import Trustpilot from "../assets/images/trustpilot.png";
import Footer from "../assets/images/footer.png";
import Skoven from "../assets/images/skoven.png";
import Cykeltur from "../assets/images/cykeltur.jpg";
import Header from "../components/Header.astro";
import Pil from "../assets/images/pil.png";
---

<MainLayout title="Højskolendk">
   <section class="relative h-screen overflow-hidden" id="herovideo">
    <header class="z-20 relative">
      <Header />
    </header>
    <div>
      <video class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 min-w-full min-h-full object-cover z-10" autoplay muted loop>
        <source src="hero2.webm" type="video/webm" />
      </video>
    </div>
    <div class="relative z-20">
      <section class="max-w-4xl mx-auto min-h-screen flex flex-col items-center justify-center text-center">
        <div class="mb-8">
          <!-- Tilføjet margin-bottom -->
          <h2 class="text-white text-lg lg:pb-2">FÆLLESSKAB, SJOVT OG LÆRERIGT</h2>
          <h1 class="text-white text-2xl lg:text-3xl">
            FÅ DIT LIVS EVENTYR I ULANDET MED
            <span class=" text-4xl lg:text-8xl lg:pb-2 block text-white">HØJSKOLENDK</span>
          </h1>
        </div>
        <a href="#overskrift">
          <div class="animate-bounce flex justify-center">
            <Image src={Pil} alt="billede" class="w-12" />
          </div>
        </a>
      </section>
    </div>
  </section>

  
  <section class="pt-16 pb-16 p-6 lg:pt-5xl lg:pb-16 max-w-[1300px] m-auto" id="overskrift">
    <div class="lg:grid lg:grid-cols-[1fr,auto] gap-lg">
      <div class="pb-xl">
        <h2 class="pb-xs font-bold text-xlarge text-orange-900 lg:pb-sm">
          ER DU KLAR TIL DIT LIVS <br />EVENTYR?
        </h2>
        <p>HØJSKOLENDK er en dansk højskole for unge i alderen ca. 18-30 år. Vi brænder for oplevelser, fællesskab og mødet med nye mennesker og kulturer; 
			derfor laver vi eventyrlige højskoleophold i udlandet. HØJSKOLENDK er noget for dig, hvis du vil på højskole i udlandet og 
			er vild med højskolefællesskab, vil med på et fantastisk rejseeventyr, glæder dig til at lære om fremmede kulturer, 
			vil rejse med rygsæk, drømmer om en fed grupperejse med andre skønne unge, vil opleve et stærkt sammenhold og ønsker 
			inspirerende og meningsfuld undervisning. Du er sikker på en tryg rejseoplevelse da vi er medlem af Rejsegarantifonden.</p>
        <div class="lg:flex ">
          <p class="pt-10">Vi glæder os til at lære dig at kende!</p>
          <Button variant="primary" size="medium" href="#ophold">Vælg dit eventyr! &rsaquo;</Button>
        </div>
      </div>
      <div class="pb-xl lg:w-96">
        <Image src={Hawaii} alt="billede" class="rounded" />
      </div>
    </div>
  </section>

  
  





 


  <section class="bg-orange-900 pt-16 pb-16 lg:pb-16 lg:pt-5xl">
    <div class=" lg:grid lg:grid-cols-2 lg:gap-24 lg:mx-2xl max-w-[1300px] m-auto mx-xs ">
      <div>
        <h3 class="text-white pb-xs font-bold text-large">REJSE HØJSKOLE</h3>
        <p class="text-white pb-20">
          Der venter dig et unikt rejseeventyr når du tager på højskole i udlandet, med et stærkt sammenhold og fede rejseoplevelser. Med udgangspunkt i højskolens to grundværdier fællesskab og dannelse, kan du på højskole i udlandet bruge din sabbatår rejse på fx frivilligt arbejde, vilde adventure- og naturoplevelser, lære sprog og spændende personlig udvikling der giver dig mere selvtillid, selvindsigt og selvværd. Glæd dig også til inspirerende undervisning, der levende og aktivt forener det lærende med det legende. Vores elever beskriver HØJSKOLENDK som ”eventyrlige dannelsesrejser med noget på hjerte”. Udover det fantastiske rejseeventyr handler vores højskoleophold i udlandet om dine drømme, mål og ønsker for livet. På inspirerende og aktiv vis flytter du dine grænser og bliver en
          endnu stærkere udgave af dig selv. Vi tror på, at du kommer hjem med mere mod på alt hvad livet byder dig og er mere afklaret omkring hvad en meningsfuld fremtid er for dig. Tag på højskole i udlandet hvis du har du lyst til at opleve verden, udleve dine rejsedrømme i et skønt fællesskab, blive inspireret af dygtige og engagerede undervisere og få et eventyr for livet.
        </p>
      </div>

      <div>
        <h3 class="text-white pb-xs font-bold text-large">HØJSKOLEOPHOLD I UDLANDET</h3>
        <p class="text-white">- Når du rejser på højskole i udlandet med HØJSKOLENDK…</p>
        <p class="text-white">- Bliver du en del af et fantastisk fællesskab med et stærkt sammenhold</p>
        <p class="text-white">- Får du masser af vilde naturoplevelser, adventure og spændende kulturmøder</p>
        <p class="text-white">- Opdager du nye og stærke sider af dig selv, flytter grænser og får mere selvtillid</p>
        <p class="text-white">- Rejser du altid med danske passionerede rejseledere og engagerede undervisere</p>
        <p class="text-white pb-10">- Får du et uforglemmeligt, unikt og trygt rejseeventyr for livet</p>
        <p class="text-white">Med vores unikke kombination af højskole, grupperejser, rejseeventyr, frihed, kulturmøder og spændende undervisning, vil vi inspirere dig til at finde ind til hvad der er vigtigst for dig i livet - hvad du virkeligt brænder for og kan mærke er meningsfuldt - så du kan forfølge dine drømme. Gå på opdagelse her på siden efter dit livs eventyr - på højskole i udlandet med HØJSKOLENDK.</p>
      </div>
    </div>
  </section>
  <section class="">
    <Image src={Trustpilot} alt="billede" />
  </section>
  <section class="pt-16 pb-16 lg:pt-5xl lg:pb-16" id="ophold">
    <div>
      <h2 class="pb-sm text-xl font-bold text-orange-900 flex justify-center lg:text-xlarge">HØJSKOLE I UDLANDET - VÆLG DIT EVENTYR!</h2>
    </div>

    <div class="lg:grid lg:grid-cols-3 gap-xs place-items-center max-w-[1300px] m-auto">
      <div class="text-small font-bold mt-sm">
        <Card cardimage="/pigerpaatog.jpg" cardimagealt="3 piger der er på et tog" bynavn="New York, Caribien, Hawaii & Mexico" pris="FRA 67.900 DKK" badgefaapladser="true" />
      </div>

      <div class="text-small font-bold mt-sm">
        <Card cardimage="/hawaii1.jpg" cardimagealt="hawaii" bynavn="Australien, New Zealand, Bali & Gili island" pris="FRA 64.900 DKK" badgefaapladser="false" />
      </div>

      <div class="text-small font-bold mt-sm">
        <Card cardimage="/skydiving.jpg" cardimagealt="skydiving" bynavn="Costa Rica, Mexico & Colombia" pris="FRA 58.900 DKK" badgefaapladser="false" />
      </div>

      <div class="text-small font-bold mt-sm">
        <Card cardimage="/vandfald.jpg" cardimagealt="vandfald" bynavn="Indien, Nepal,Thailand, Vietnam & Sri Lanka" pris="FRA 61.500 DKK" badgefaapladser="false" />
      </div>

      <div class="text-small font-bold mt-sm">
        <Card cardimage="/japan.jpg" cardimagealt="japan" bynavn="Hawaii, Australien, Japan, Bali & Gili islands" pris="FRA 84.500 DKK" badgefaapladser="true" />
      </div>

      <div class="text-small font-bold mt-sm">
        <Card cardimage="/maldiverne.jpg" cardimagealt="maldiverne" bynavn="Maldiverne, Sri Lanka, Bali & Gili islands" pris="FRA 52.500 DKK" badgefaapladser="false" />
      </div>

      <div class="text-small font-bold mt-sm">
        <Card cardimage="/gruppebiledesol.jpg" cardimagealt="solopgang" bynavn="Brasilien, Bolivia, Colombia, Ecuador, Peru & Argentina" pris="FRA 74.900 DKK" badgefaapladser="false" />
      </div>
      <div class="text-small font-bold mt-sm">
        <Card cardimage="/Australien .jpg" cardimagealt="3 piger der er på et tog" bynavn="Australien, Japan Bali & Gili Islands" pris="FRA 54.900 DKK" badgefaapladser="false" />
      </div>
      <div class="text-small font-bold mt-sm">
        <Card cardimage="/mountainbike.jpg" cardimagealt="3 piger der er på et tog" bynavn="Bali, Lombok & Gili islands" pris="FRA 28.900 DKK" badgefaapladser="true" />
      </div>
    </div>
  </section>

 <section class=" pt-16 pb-16 p-6 lg:pt-5xl lg:pb-16 max-w-[1300px] m-auto">
    <div class="grid lg:grid-cols-[auto,1fr] gap-10">
      <!-- Kolonne 1: Billeder og Video -->
      <div class="pb-m grid grid-cols-2">
        <!-- Venstre side: Billeder -->
        <div class="grid grid-rows-2">
          <img src="solnedgang.jpg" alt="Billede 1" class="rounded-lg w-48 h-48 object-cover" />
          <img src="toppenbjerg.jpg" alt="Billede 2" class="rounded-lg w-48 h-48 object-cover" />
        </div>

        <!-- Højre side: Video -->

        <video class="rounded-lg w-7xl h-30 object-cover" autoplay muted loop>
          <source src="oplevelsesvideo.webm" type="Video/webm" />
        </video>
      </div>

      <!-- Kolonne 2: Tekst -->
      <div class="text-[#3c2300]">
        <h2 class="text-3xl font-bold">Tag det første skridt mod dit eventyr</h2>
        <p class="mt-4 text-lg leading-relaxed">Skriv dig op til det eventyr, du drømmer om – det er gratis og helt uforpligtende. Ved at skrive dig op, får du besked som en af de første, før det bliver udsolgt. Du sikrer dig muligheden for at tage afsted på dit drømmeeventyr, uden skuffelsen af der er udsolgt. Drømme bliver til virkelighed for dem, der griber chancen – gør det i dag!</p>
        <p class="mt-4">
          Hvis du er afklaret og klar på <strong>højskoleeventyr</strong>, er det bare med at <a href="#" class="text-orange-600 underline">tilmelde dig</a>. Der bliver nemlig udsolgt på langt de fleste af vores ophold.
        </p>
        <div class="flex gap-4 mt-6">
          <button class="border-2 border-orange-500 font-bold text-orange-500 py-2 px-6 rounded hover:bg-orange-200"> Giv mig besked &rsaquo;</button>
          <button class="bg-orange-500 text-white font-bold py-2 px-6 rounded hover:bg-orange-600"> Tilmeld dig ophold &rsaquo;</button>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-beige-500 pt-16 pb-16 lg:pt-5xl lg:pb-16 " id="form">
    <div class="lg:grid lg:grid-cols-[1fr,auto] lg:mx-xl lg:gap-40 max-w-[1300px] m-auto">
      <div class="mx-xs">
        <h2 class="font-bold text-xlarge pb-xs">DELTAG I VORES <br />INFOMØDER!</h2>
        <p class="pb-xs">Hvis du drømmer om et fantastisk rejseeventyr med masser af adventure, vilde naturoplevelser og spændende kulturmøder så smut forbi et af vores hyggelige infomøder i København eller Aarhus - eller mød os på et online infomøde.</p>
		<div class="">
          <form class="w-full max-w-sm pt-2">
            <div class="mb-4">
              <label for="name" class="block text-sm font-medium text-gray-700 mb-2 text-orange-900">Navn</label>
              <input type="text" id="name" name="name" placeholder="Skriv dit navn" required class="w-full px-4 py-2 text-gray-700 bg-gray-200 rounded-full focus:outline-none focus:ring-2 focus:ring-blue-500 focus:bg-white" />
            </div>
            <div class="mb-4">
              <label for="email" class="block text-sm font-medium text-gray-700 mb-2 text-orange-900">Email</label>
              <input type="email" id="email" name="email" placeholder="Skriv din email" required class="w-full px-4 py-2 text-gray-700 bg-gray-200 rounded-full focus:outline-none focus:ring-2 focus:ring-blue-500 focus:bg-white" />
            </div>
            <Button variant="primary" size="medium">Tilmeld infomøde &rsaquo;</Button>
          </form>
        </div>
      </div>
      <div class="mx-xs pt-xs">
        <Image src={Cykeltur} alt="billede" class="rounded w-72" />
      </div>
    </div>
  </section>

    <section id="horisontalscrollsection" class="h-[500vw] flex flex-col pb-12">
	<h2 class="pb-sm text-xl font-bold text-orange-900 flex justify-center lg:text-xlarge lg:pt-lg lg:pb-lg">ANMELDELSER FRA TIDLIGERE DELTAGERE</h2>
      <ul id="horisontalliste" class="list-none pl-0 flex items-center sticky top-[30vh]">
		
        <li class="flex w-[100vw] items-center justify-center flex-col overflow-hidden flex-grow-0 flex-shrink-0 flex-auto">
          <figure class="flex flex-row max-w-[800px]">
            <Card3 logoimage="/public/logo.png" logoalt="iconer" citat="“DET VAR SÅ FEDT AT REJSE MED HØJSKOLENDKE”" stjerner="/public/stjerner.png" navn="JACOB K. LAURIDSEN"/>
          </figure>
        </li>
        <li class="flex w-[100vw] overflow-hidden flex-grow-0 flex-shrink-0 flex-auto"><figure class="flex flex-row max-w-[800px]"><Card3 logoimage="/logo.png" logoalt="iconer" citat="“VERDENS BEDSTE OPLEVELSE”" stjerner="/public/stjerner.png" navn="SUSANNE K. PEDERSEN"/></figure></li>
        <li class="flex w-[100vw] overflow-hidden flex-grow-0 flex-shrink-0 flex-auto"><figure class="flex flex-row max-w-[800px]"><Card3 logoimage="/logo.png" logoalt="iconer" citat="“GØR DET! DU VIL ALDRIG FORTRYDE DET”" stjerner="/public/stjerner.png" navn="CASPER KRISTENSEN"/></figure></li>
        <li class="flex w-[100vw] overflow-hidden flex-grow-0 flex-shrink-0 flex-auto"><figure class="flex flex-row max-w-[800px]"><Card3 logoimage="/logo.png" logoalt="iconer" citat="“MIT LIVE OPLEVELSE - FANTASTISKE”" stjerner="/public/stjerner.png" navn="SØREN SCHMIDT"/></figure></li>
        <li class="flex w-[100vw] overflow-hidden flex-grow-0 flex-shrink-0 flex-auto"><figure class="flex flex-row max-w-[800px]"><Card3 logoimage="/logo.png" logoalt="iconer" citat="“ET AF DE VALG JEG ALDRIG VIL FORTRYDE”" stjerner="/public/stjerner.png" navn="CÆCILIE SAMS"/></figure></li>
		<li class="flex w-[100vw] overflow-hidden flex-grow-0 flex-shrink-0 flex-auto"><figure class="flex flex-row max-w-[800px]"><Card3 logoimage="/logo.png" logoalt="iconer" citat="“EN FANTASTISK OG LÆRERIG OPLEVELSE”" stjerner="/public/stjerner.png" navn="BENJAMIN UHLEMANN"/></figure></li>
      </ul>
    </section>
   
  <section class=" pt-16 pb-16 lg:pt-7xl lg:pb-7xl">
    <Image src={Skoven} alt="billede" />
  </section>
  <section class="bg-beige-500 pt-16 pb-16 lg:pt-5xl lg:pb-16 ">
    <div class="mx-xs lg:grid lg:grid-cols-2 lg:gap-12 lg:mx-xl  max-w-[1300px] m-auto ">
      <div>
        <h3 class="text-orange-900 pb-xs font-bold text-large">HØJSKOLE I UDLANDET FOR UNGE MENNESKER</h3>
        <p class="pb-20">Drømmer du om et højskoleophold i udlandet? Med HÖJSKOLENDK får du dit livs eventyr med fællesskab, unikke oplevelser og meningsfuld læring. Oplev nye venskaber, spændende kulturer og uforglemmelige øjeblikke, der vil styrke dig som person. Rejs til Bali, Hawaii, Australien eller New York, Tokyo og Rio de Janeiro. Udforsk autentiske møder i Indien og Mexico eller adrenalinfyldte eventyr i New Zealand og Costa Rica. Med danske rejseledere og unge på din egen alder bliver det en rejse, du aldrig glemmer - både ud i verden og ind i dig selv.</p>
      </div>
      <div>
        <h3 class="text-orange-900 pb-xs font-bold text-large">UFORGLEMMELIGT HØJSKOLEOPHOLD I UDLANDET</h3>
        <p>HØJSKOLENDK tilbyder spændende højskoleophold i udlandet, både i sommerferien og resten af året. Sommerophold varer typisk 5 uger og kombinerer flere lande og kulturer – perfekt for dig, der vil udforske verden, møde andre unge og udvikle dig, inden studier eller job. Årsophold varer 2-3 måneder og er ideelt til sabbatåret, hvor du kan rejse og styrke dig selv personligt. Uanset hvornår du rejser, garanterer vi et uforglemmeligt eventyr med fællesskab og oplevelser for livet!</p>
      </div>
    </div>
  </section>
  <section class="pt-16 pb-16 lg:pt-7xl lg:pb-7xl  max-w-[1300px] m-auto">
    <h3 class="text-orange-900 font-bold  text-xlarge pb-sm flex justify-center">EN REJSE HØJSKOLE FYLDT MED OPLEVELSER</h3>
    <div class="lg:grid lg:grid-cols-4 gap-xs place-items-center">
      <Card2 iconimage="/icon1.png" overskrift="KULTUROPLEVELSER" tekst="Kultur er en essentiel del af at opleve et nyt land. Det giver spændende møder, oplevelser og en indsigt, du ikke finder i bøger eller rejseprogrammer. På vores højskolerejser kan du udforske alt fra hindu-templer i Indien og surfkultur på Hawaii til mayaruiner i Guatemala, buddhisme i Thailand." />
      <Card2 iconimage="/icon2.png" overskrift="FRIVILLIGT ARBEJDE" tekst="Drømmer du om frivilligt arbejde i udlandet? På mange af vores højskolerejser arbejder vi tæt med de lokale, hvilket giver dig en unik indsigt i landets større forståelse for kulturen og måden man lever på i de forskellige lande." />

      <Card2 iconimage="/icon3.png" overskrift="VILDE NATUROPLEVELSER" tekst="Ingen rejse uden vilde naturoplevelser! Vores højskoleophold fører dig til destinationer med enestående natur, fra snorkling i Caribien og river rafting i Thailand til trekking i Himalaya, safari i Sri Lanka og dykning med manta rays på Hawaii. Uanset hvor du rejser, venter uforglemmelige eventyr." />

      <Card2 iconimage="/icon4.png" overskrift="TEAMBUILDING" tekst="Hvorfor tage et kedeligt kursus i Danmark, når du kan rejse ud i verden og udvikle dig? Sammen med andre unge voksne lærer du om samarbejde, relationer, fællesskab og stærke teams - samtidig får du værdifulde erfaringer til både CV, studie og karriere." />
    </div>
  </section>
 
</MainLayout>
<style>
  html {
    scroll-behavior: smooth;
  }
  </style>
  <script>
  import { animate, stagger, inView, scroll, timeline } from "motion"; 
   scroll(
    animate("#horisontalliste", {
      transform: ["none", "translateX(-400vw)"],
    }),
    { target: document.querySelector("#horisontalscrollsection") }
  );
</script>