---
const { logoimage = "", logoalt = "", citat = "", stjerner = "", stjerneralt = "", navn = "" } = Astro.props;
---

<article class="relative rounded cursor-pointer overflow-hidden w-[350px] h-[426px] @container mx-xl border-1 border-black shadow-drop25 bg-white">
  <!-- Beige baggrund -->
  <div class="h-7xl group bg-beige-500 border-10 rounded border-white w-full relative">
    <!-- Logo -->
    <div class="absolute z-20 w-2xl h-large top-3 left-3 inline-flex">
      <img src={logoimage} alt={logoalt} class="w-full h-full object-cover" />
    </div>

    <!-- Stjerner og citat i midten -->
    <div class="absolute inset-0 flex flex-col justify-center items-center space-y-4 pt-sm">
      <!-- Citat -->
      <p class="text-xlarge font-semibold text-white text-center">{citat}</p>
      
      <!-- Stjerner -->
      <div class="w-24 h-auto">
        <img src={stjerner} alt={stjerneralt} class="w-full h-full object-contain" />
      </div>
    </div>
  </div>

  <!-- Navn nederst på den hvide baggrund -->
  <div class="flex justify-center items-center h-[100px]">
    <p class="text-base font-medium text-black">{navn}</p>
  </div>
</article>
